
<div id="indexPage">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Crowd mosquito</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Mosquitoes</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Project</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1" ng-hide="!logged">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#/user">My contributions</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1" ng-hide="logged">
              <div class="g-signin2" data-onsuccess="onSignIn" style="margin-top: 8%;"></div>
            </li>
            <li class="nav-item mx-0 mx-lg-1" ng-hide="!logged">
              <a href="#/" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" onclick="signOut();">Sign out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="public/img/mosquito_chris2.png" alt="Crowdsourcing mosquito">
        <h1 class="text-uppercase mb-0" >Crowdsourcing mosquito</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">In the fight against the mosquito, any small help is of great help!</h2>
      </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="portfolio">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Mosquitoes transmitters of diseases</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fas fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="public/img/portfolio/aedes.jpg" alt="Tiger mosquito">
              <figcaption class="figure-caption text-center"><hr><h3>Tiger mosquito (Aedes aegypti)</h3></figcaption>
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fas fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="public/img/portfolio/anopheles.jpg" alt="Anopheles mosquito">
              <figcaption class="figure-caption text-center"><hr><h3>Anopheles mosquito</h3></figcaption>
            </a>
          </div>
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fas fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="public/img/portfolio/culex.jpg" alt="Culex mosquito">
              <figcaption class="figure-caption text-center"><br><br><hr><h3>Culex mosquito</h3></figcaption>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Project</h2>
        <hr class="star-light mb-5">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead" style="text-align: justify;">Crowdsourcing mosquito is a citizen science tool commonly known as crowdsourcing, developed to help fight the problem of mosquitoes transmitters of diseases. The purpose of the project is to collect information on places where mosquitoes are present.</p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead"  style="text-align: justify;">You can help us grow this project by providing information about the presence of mosquitoes. You just need to register and fill out a simple form! Your contributions will be saved in a personal account you can access at any time.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Contact</h2>
        <hr class="star-dark mb-5">
        <div class="container">
          <div class="row">
            <div class="col-lg">
              <h2>  
                <a class="nav-link text-center" href="https://www.marshalllab.com/">The Marshall Lab</a>
              </h2>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-4 ml-auto">
              <h3>​John M. Marshall, PhD</h3>
              <h5 class="text-muted">john.marshall@berkeley.edu</h5>
            </div>
            <div class="col-lg-4 mr-auto">
              <h3>​Héctor M. Sánchez C., PhD</h3>
              <h5 class="text-muted">sanchez.hmsc@berkeley.edu</h5>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; Crowdsourcing Mosquito 2018</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Portfolio Modals -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#/">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Tiger mosquito</h2>
              <hr class="star-dark mb-5">
              <img class="img-fluid mb-5" src="public/img/portfolio/aedes.jpg" alt="Aedes aegypti">
              <p class="mb-5">Aedes aegypti: also called tiger mosquito, is the main vector of viruses that cause dengue. It is characterized by its black coloration with white ornamentation on the thorax and abdomen.</p>
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#/">
                <i class="fa fa-close"></i>
                Close image</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#/">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Anopheles</h2>
              <hr class="star-dark mb-5">
              <img class="img-fluid mb-5" src="public/img/portfolio/anopheles.jpg" alt="Anopheles mosquito">
              <p class="mb-5">Anopheles: mosquito transmitter of malaria disease. It can be distinguished from other mosquitoes because of the presence of scales on the wings and abdomen. Also, when its posture is at rest, its abdomen is steep.</p>
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#/">
                <i class="fa fa-close"></i>
                Close image</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#/">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Culex</h2>
              <hr class="star-dark mb-5">
              <img class="img-fluid mb-5" src="public/img/portfolio/culex.jpg" alt="Culex mosquito">
              <p class="mb-5">Culex: transmitter of West Nile virus, filariasis, among other diseases. It is characterized because it is usually a sigle color mosquito, with a dark brown abdomen.</p>
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#/">
                <i class="fa fa-close"></i>
                Close image</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
    <!-- Script for Google Authentication -->
    <script src="https://apis.google.com/js/client:platform.js?onload=renderButton" async defer></script>
    
    <script src="./public/js/freelancer.min.js"></script>

    <script>
        function onSignIn(googleUser) {
          var profile = googleUser.getBasicProfile();
          angular.element(document.getElementById('indexPage')).scope().getSession(profile);
        }

        function signOut() {
          var auth2 = gapi.auth2.getAuthInstance();
          auth2.signOut().then(function () {
            console.log('User signed out.');
          });
          angular.element(document.getElementById('indexPage')).scope().logOut();

        }
    </script>
