<header>
  <link rel="stylesheet" type="text/css" href="public/vendor/magnific-popup/magnific-popup.css">
  <link rel="stylesheet" type="text/css" href="public/css/freelancer.css">
</header>

<button type="button" id="modalButton" class="" data-toggle="modal" data-target="#centralModalInfo" style="visibility: hidden;">
  Click Me !
</button>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav" style="padding-top: 0rem;padding-bottom: 0rem;">
  <div class="container">
    <!--Eliminated: href="#page-top"-->
    <a class="navbar-brand js-scroll-trigger">Crowdsourcing mosquito</a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    Menu
    <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" ng-click="toHome()">Homepage</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1" ng-hide="!logged">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#/user">My contributions</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1" ng-hide="logged">
          <div class="g-signin2" data-onsuccess="onSignIn" style="margin-top: 8%;"></div>
        </li>
        <li class="nav-item mx-0 mx-lg-1" ng-hide="!logged">
          <a href="#/" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" onclick="signOut();">Sign out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
    <ng-map id="mapa" center="{{center}}" zoom="2" style="width: 100%; height: 100vh;">
      <marker ng-repeat="i in markers" on-click="getInfo(i)" position="{{i}}" on-dragend="getpos($event)"
        animation="Animation.BOUNCE" animation="DROP" draggable="false" data-toggle="tooltip" data-placement="top" style="background-color: #F8B018;"></marker>
    </ng-map>
</div>

<!-- Central Modal Medium Info -->
<div class="modal fade" id="centralModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header" style="background-color: #F8B018;">
        <h6 class="modal-title text-center" style="color: white;">Mosquito information</h6>
        <button id="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white;">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="container-fluid justify-content-center">
          <div class="row">
            <div class="col-md-5 col-example" style="margin-top:5%;">
              <div>
                <img src="{{'data:image/png;base64,' + selectedMosquito.Photo}}" alt="Photo of the user mosquito" class="img-fluid">
                <br>
                <h4 class="text-center text-secondary mb-0"><u>{{selectedMosquito.Tipo}}</u> mosquito</h4>
                <br>
                <div class="card text-center" style="background: none;">
                  <h1 class="display-4">{{selectedMosquito.Poll.percentage_positive}}%</h1>
                  <p>of contributors say that this mosquito is {{selectedMosquito.Tipo}}</p>
                </div>
              </div>
            </div>

            <div class="col-md-7 text-center">
              <div class="container" style="margin-top:8%;">

                <div class="row justify-content-center">
                  <h4 class="text-center text-secondary mb-0">Do you think this is a mosquito type <u>{{selectedMosquito.Tipo}}</u>?</h4>
                </div>
                <br>

                <div class="row">
                    <div class="col-lg-4 ml-auto">
                    <div class="btn-group" data-toggle="buttons">
                      <button class="btn btn-lg btn-success form-check-input" type="radio" name="options" id="option1" autocomplete="off" ng-click="voteYes()">Yes!</button>
                    </div>
                  </div>
                  <div class="col-lg-4 mr-auto">
                    <div class="btn-group" data-toggle="buttons">
                      <button class="btn btn-lg btn-danger form-check-input" type="radio" name="options" id="option2" autocomplete="off" ng-click="voteNote()">No</button>
                    </div>
                  </div>
                </div>

                <div class="col-md-12 text-center" ng-hide="hideOptions">
                  <div class="container" style="margin-top:8%;">
                    <fieldset>
                      <h3 class="text-center text-secondary mb-0" style="font-size: 30px; font-weight: 300;">What type is this mosquito then?</h3>
                      <p>(scroll to select type)</p>
                    </fieldset>

                    <!-- Portfolio Grid Section -->
                    <h2 class="text-center text-uppercase" style="color: #F8B018;">Mosquitoes transmitters of diseases:</h2>
                    <br>
                    <!-- Card group -->
                    <div class="row">
                      <!-- Card -->
                      <div class="card mb-4" ng-if="selectedMosquito.Tipo != 'aedes'">
                        <!-- Card image -->
                        <div class="view overlay">
                          <img class="card-img-top" src="public/img/aedes.jpg" alt="Aedes mosquito">
                          <a href="#!">
                          <div class="mask rgba-white-slight"></div>
                          </a>
                        </div>
                        <!-- Card content -->
                        <div class="card-body">
                          <!-- Title -->
                          <h3 class="card-title text-center">Tiger mosquito</h3>
                          <!-- Text -->
                          <p class="card-text" style="text-align: justify;"><strong>Aedes</strong> aegypti: also called tiger mosquito, is the main vector of viruses that cause dengue. It is characterized by its black coloration with white ornamentation on the thorax and abdomen.</p>
                        </div>
                      </div>

                      <!-- Card -->
                      <div class="card mb-4" ng-if="selectedMosquito.Tipo != 'anopheles'">
                        <!-- Card image -->
                        <div class="view overlay">
                          <img class="card-img-top" src="public/img/portfolio/anopheles.jpg" alt="Anopheles mosquito">
                          <a href="#!">
                          <div class="mask rgba-white-slight"></div>
                          </a>
                        </div>
                        <!-- Card content -->
                        <div class="card-body">
                          <!-- Title -->
                          <h3 class="card-title text-center">Anopheles mosquito</h3>
                          <!-- Text -->
                          <p class="card-text" style="text-align: justify;">Anopheles: mosquito transmitter of malaria disease. It can be distinguished from other mosquitoes because of the presence of scales on the wings and abdomen. Also, when its posture is at rest, its abdomen is steep.</p>
                        </div>
                      </div>

                      <!-- Card -->
                      <div class="card mb-4" ng-if="selectedMosquito.Tipo != 'culex'">
                        <!-- Card image -->
                        <div class="view overlay">
                          <img class="card-img-top" src="public/img/portfolio/culex.jpg" alt="Culex mosquito">
                          <a href="#!">
                          <div class="mask rgba-white-slight"></div>
                          </a>
                        </div>
                        <!-- Card content -->
                        <div class="card-body">
                          <!-- Title -->
                          <h3 class="card-title text-center">Culex mosquito</h3>
                          <!-- Text -->
                          <p class="card-text" style="text-align: justify;">Culex: transmitter of West Nile virus, filariasis, among other diseases. It is characterized because it is usually a sigle color mosquito, with a dark brown abdomen.</p>
                        </div>
                      </div>
                    </div>
                    <div class="btn-group" data-toggle="buttons">
                      <button class="btn btn-lg btn-danger form-check-input" type="radio" name="options" id="culexVote" autocomplete="off" ng-click="type = 'culex'">Culex</button>
                      <button class="btn btn-lg btn-danger form-check-input" type="radio" name="options" id="anophelesVote" autocomplete="off" ng-click="type = 'anopheles'">Anopheles</button>
                      <button class="btn btn-lg btn-danger form-check-input" type="radio" name="options" id="aedesVote" autocomplete="off" ng-click="type = 'aedes'">Aedes</button>
                    </div>
                  </div>
                  <div style="margin-top: 5%">
                      <input type="text" ng-model="type" placeholder="Other" class="form-control">
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>
          <!--Footer-->
          <div class="modal-footer">
            <button class="btn btn-success" ng-click="sendVote()">Vote</button>
            <button class="btn btn-danger" class="close" data-dismiss="modal" aria-label="Close">Close</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Central Modal Medium Info-->

<!-- Mosquito Modals -->
<!--
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header-mosquito">
        <h5 class="modal-title" id="exampleModalLabel">Mosquito tigre (Aedes aegypti)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="public/img/aedes.jpg" alt="Aedes aegypti" style="max-width: 70%;" class="mx-auto d-block">
        <p>Aedes aegypti: también llamado mosquito tigre, es el principal vector de los virus que causan el dengue. Se caracteriza por su coloración negra con ornamentación blanca en tórax y abdomen.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header-mosquito">
        <h5 class="modal-title" id="exampleModalLabel">Mosquito Anopheles</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="public/img/anopheles.jpg" alt="Anopheles" style="max-width: 70%;" class="mx-auto d-block">
        <p>Anopheles: mosquito transmisor de la malaria. Se puede distinguir de otros mosquitos por la presencia de escamas sobre las alas abdomen y cuando su postura es en reposo, ya que dispone su abdomen de forma empinada.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header-mosquito">
        <h5 class="modal-title" id="exampleModalLabel">Mosquito Culex</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="public/img/culex.jpg" alt="Culex" style="max-width: 70%;" class="mx-auto d-block">
        <p>Culex: transmisor del Virus del Nilo Occidental, filariasis, entre otras enfermedades. Se caracteriza porque generalmente es un mosquito unicolor, con abdomen marrón oscuro.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
-->

<!-- Scripts -->
<script src="public/vendor/select2/select2.min.js"></script>

<script>
	$(".selection-2").select2({
		minimumResultsForSearch: 20,
		dropdownParent: $('#dropDownSelect1')
	});
</script>

<!-- Script for Google Authentication -->
<script src="https://apis.google.com/js/client:platform.js?onload=renderButton" async defer></script>
<script src="public/js/freelancer.min.js"></script>

<script>
    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      angular.element(document.getElementById('formPage')).scope().getSession(profile);
    }

    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
      angular.element(document.getElementById('formPage')).scope().logOut();

    }
</script>
