
<div class="row justify-content-center">
  <ng-map id="mapa" center="{{center}}" zoom="2" style='width: 100%; margin: 15px; height: 100vh'>
    <marker ng-repeat="i in markers" on-click="getInfo(i)" position="{{i}}" on-dragend="getpos($event)"
      animation="Animation.BOUNCE" animation="DROP" draggable="true" data-toggle="tooltip" data-placement="top" style="background-color: #DB5964;"></marker>
  </ng-map>
</div>

<!-- Central Modal Medium Info -->
<div class="modal fade" id="centralModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header" style="background-color: #DB5964;">
        <h6 class="modal-title text-center" style="color: white;">Mosquito information</h6>
        <button id="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="container-fluid justify-content-center">
          <div class="row">
            <div class="col-md-5 col-example" style="margin-top:5%;">
              <div>
                <img src="{{'data:image/png;base64,' + selectedMosquito.Photo}}" alt="Material Design for Bootstrap - dashboard" class="img-fluid">
                <p class="text-center">{{selectedMosquito.Tipo}}</p>
                <div class="card text-center" style="background: none;">
                  <h1 class="display-4">{{selectedMosquito.Poll.percentage_positive}}%</h1>
                  <p>of contributors say that this mosquito is {{selectedMosquito.Tipo}}</p>
                </div>
              </div>
            </div>

            <div class="col-md-7 text-center">
              <div class="container" style="margin-top:8%;">

                <div class="row justify-content-center">
                  <p class="text-center">Do you think this is a mosquito type <strong>{{selectedMosquito.Tipo}}?</strong></p>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="btn-group" data-toggle="buttons">
                        <button class="btn btn-success form-check-input" type="radio" name="options" id="option1" autocomplete="off" ng-click="voteYes()">Yes</button>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="btn-group" data-toggle="buttons">
                        <button class="btn btn-danger form-check-input" type="radio" name="options" id="option2" autocomplete="off" ng-click="voteNote()">No</button>
                      </div>
                    </div>
                  </div>
                </div>

                <br>

                <div class="col-md-12 text-center" ng-hide="hideOptions">
                  <div class="container" style="margin-top:8%;">

                    <div class="row justify-content-center">
                      <p class="text-center">What type is this mosquito then?</p>
                      <div class="row">
                        <label class="radio-inline" ng-if="selectedMosquito.Tipo != 'aedes'"><input type="radio" name="optradio" value="aedes" checked ng-model="type">Aedes</label>
                        <label class="radio-inline" ng-if="selectedMosquito.Tipo != 'anopheles'"><input type="radio" name="optradio" value="anopheles" ng-model="type">Anopheles</label>
                        <label class="radio-inline" ng-if="selectedMosquito.Tipo != 'culex'"><input type="radio" name="optradio" value="culex" ng-model="type">Culex</label>
                        <label class="radio-inline"><input type="radio" name="optradio" value="other" ng-model="type">Other</label>
                      </div>
                    </div>

              </div>
            </div>
          </div>
          <br>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer">
        <button class="btn btn-success" ng-click="sendVote()">Submit</button>
        <button class="btn btn-danger" class="close" data-dismiss="modal" aria-label="Close">Discard changes</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Central Modal Medium Info-->


<!-- Mosquito Modals -->
<!-- Modal Aedes -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header-mosquito">
        <h5 class="modal-title" id="exampleModalLabel">Mosquito tigre (Aedes albopictus)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="public/img/aedes.jpg" alt="Aedes albopictus" style="max-width: 70%;" class="mx-auto d-block">
        <p>Aedes albopictus: también llamado mosquito tigre, es el principal vector de los virus que causan el dengue. Se caracteriza por su coloración negra con ornamentación blanca en tórax y abdomen.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Anopheles -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header-mosquito">
        <h5 class="modal-title" id="exampleModalLabel">Mosquito Anopheles</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="public/img/anopheles.jpg" alt="Anopheles" style="max-width: 70%;" class="mx-auto d-block">
        <p>Anopheles: mosquito transmisor de la malaria. Se puede distinguir de otros mosquitos por la presencia de escamas sobre las alas abdomen y cuando su postura es en reposo, ya que dispone su abdomen de forma empinada.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Culex -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header-mosquito">
        <h5 class="modal-title" id="exampleModalLabel">Mosquito Culex</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="public/img/culex.jpg" alt="Culex" style="max-width: 70%;" class="mx-auto d-block">
        <p>Culex: transmisor del Virus del Nilo Occidental, filariasis, entre otras enfermedades. Se caracteriza porque generalmente es un mosquito unicolor, con abdomen marrón oscuro.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<button type="button" id="modalButton" class="" data-toggle="modal" data-target="#centralModalInfo" style="visibility: hidden;">
  Click Me !
</button>