<style>
body{
/* color: #F8B018; */
/*background-color: #F8B018; */
/*background: -webkit-linear-gradient(left, #705D50, #705D50);*/
background: linear-gradient(-90deg, #705D50, #F8B018);
}
</style>

<header>
	<link rel="stylesheet" type="text/css" href="public/vendor/magnific-popup/magnific-popup.css" >
	<link rel="stylesheet" type="text/css" href="public/css/personal.css">
	<link rel="stylesheet" type="text/css" href="public/css/main.css">
	<link rel="stylesheet" type="text/css" href="public/css/freelancer.css">
</header>


<div class="container" id="formPage">
	<!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
		<div class="container">
			<!--Eliminated: href="#page-top"-->
			<a class="navbar-brand js-scroll-trigger">Crowdsourcing mosquito</a>
			<button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			Menu
			<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item mx-0 mx-lg-1">
						<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" ng-click="toHome()">Homepage</a>
					</li>
					<li class="nav-item mx-0 mx-lg-1" ng-hide="!logged">
						<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#/user">My contributions</a>
					</li>
					<li class="nav-item mx-0 mx-lg-1" ng-hide="logged">
						<div class="g-signin2" data-onsuccess="onSignIn" style="margin-top: 8%;"></div>
					</li>
					<li class="nav-item mx-0 mx-lg-1" ng-hide="!logged">
						<a href="#/" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" onclick="signOut();">Sign out</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<form id="contact" action="" class="emp-profile h-100 justify-content-center">
		<h1>{{appName}}</h1>
		<h3>Select or type in the place where mosquitos where spotted:</h3>

		<fieldset>
			<input places-auto-complete types="['geocode']" on-place-changed="placeMarker()" type="text" tabindex="1" autofocus/>
		</fieldset>

		<div class="row justify-content-center">
			<ng-map id="mapa" center="{{center}}" zoom="14" on-click="getpos($event)" style='width: 100%; margin: 15px;'>
				<marker position="{{latlng}}" on-dragend="getpos($event)" animation="Animation.BOUNCE" animation="DROP" draggable="true"></marker>
			</ng-map>
		</div>

		<div class="row">
			<div class="col-lg-4 ml-auto">
				<h3 class="text-center text-secondary">The selected latitude and longitude is:</h3>
				<h4 class="display-4 text-center">{{latlng}}</h4>
			</div>
			<div class="col-lg-4 mr-auto">
				<h3 class="text-center text-secondary">The temperature of the coordinates is:</h3>
				<h3 class="display-4 text-center">{{tmp}} °C</h3>
			</div>
		</div>
		<br>

		<!-- Upload photo section -->
		<div class="container justify-content-center">
			<div class="row justify-content-center align-items-center">
				<div class="col-md-3"></div>
				<div class="col-md-3 uploadfrm justify-content-center">
					<button class="btn btn-primary btn-file justify-content-center">Browse photo of the mosquito<input type="file" onchange="readURL(this);" ng-model="mosquitoPhoto" base-sixty-four-input></button>
				</div>
				<div class="col-md-3 justify-content-center">
					<div class="preview justify-content-center">
						<img id="blah" src="" alt="" class="img-thumbnail border-0 justify-content-center" style="background-color:transparent;">
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>
		<br>

		<!-- Portfolio Grid Section -->
		<div class="container">
			<h2 class="text-center text-uppercase text-secondary mb-0">Mosquitoes transmitters of diseases:</h2>
			<br>
		</div>

		<!-- Card group -->
		<div class="row">
			<!-- Card -->
			<div class="col-md-4 d-flex align-items-stretch">
				<div class="card mb-4">
				<!-- Card image -->
					<div class="view overlay">
						<img class="card-img-top" src="public/img/aedes.jpg" alt="Aedes mosquito">
						<a href="#!">
						<div class="mask rgba-white-slight"></div>
						</a>
					</div>
					<!-- Card content -->
					<div class="card-body">
						<!-- Title -->
						<h3 class="card-title text-center">Tiger mosquito</h3>
						<!-- Text -->
						<p class="card-text" style="text-align: justify;">Aedes aegypti: also called tiger mosquito, is the main vector of viruses that cause dengue. It is characterized by its black coloration with white ornamentation on the thorax and abdomen.</p>
					</div>
				</div>
			</div>

			<div class="col-md-4 d-flex align-items-stretch">
				<!-- Card -->
				<div class="card mb-4">
					<!-- Card image -->
					<div class="view overlay">
						<img class="card-img-top" src="public/img/portfolio/anopheles.jpg" alt="Anopheles mosquito">
						<a href="#!">
						<div class="mask rgba-white-slight"></div>
						</a>
					</div>
					<!-- Card content -->
					<div class="card-body">
						<!-- Title -->
						<h3 class="card-title text-center">Anopheles mosquito</h3>
						<!-- Text -->
						<p class="card-text" style="text-align: justify;">Anopheles: mosquito transmitter of malaria disease. It can be distinguished from other mosquitoes because of the presence of scales on the wings and abdomen. Also, when its posture is at rest, its abdomen is steep.</p>
					</div>
				</div>
			</div>

			<div class="col-md-4 d-flex align-items-stretch">
				<!-- Card -->
				<div class="card mb-4">
					<!-- Card image -->
					<div class="view overlay">
						<img class="card-img-top" src="public/img/portfolio/culex.jpg" alt="Culex mosquito">
						<a href="#!">
						<div class="mask rgba-white-slight"></div>
						</a>
					</div>
					<!-- Card content -->
					<div class="card-body">
						<!-- Title -->
						<h3 class="card-title text-center">Culex mosquito</h3>
						<!-- Text -->
						<p class="card-text" style="text-align: justify;">Culex: transmitter of West Nile virus, filariasis, among other diseases. It is characterized because it is usually a sigle color mosquito, with a dark brown abdomen.</p>
					</div>
				</div>
			</div>
		</div>

		<fieldset>
			<h3 class="text-center text-secondary mb-0">Select the type of mosquito witnessed:</h3>
			<br>
			<div class="wrapper">
				<div class="toggle_radio">
					<input type="radio" class="toggle_option" id="first_toggle" name="toggle_option" ng-model="type" value="aedes">
					<input type="radio" class="toggle_option" id="second_toggle" name="toggle_option" ng-model="type" value="anopheles">
					<input type="radio" class="toggle_option" id="third_toggle" name="toggle_option" ng-model="type" value="culex">
					<label for="first_toggle"><p>Aedes</p></label>
					<label for="second_toggle"><p>Anopheles</p></label>
					<label for="third_toggle"><p>Culex</p></label>
				<div class="toggle_option_slider"></div>
				</div>
			</div>
			<div style="margin-top: 5%">
					<input type="text" ng-model="type" placeholder="Other" class="form-control" ng-model="type" style="text-align:center;">
			</div>
			<!--
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label for="first_toggle" class="btn btn-secondary" >
					<input type="radio" class="toggle_option" id="first_toggle" name="toggle_option" autocomplete="off" ng-model="type" value="aedes"> Aedes
				</label>
				<label for="first_toggle" class="btn btn-secondary">
					<input type="radio" class="toggle_option" id="second_toggle" name="toggle_option" autocomplete="off" ng-model="type" value="anopheles"> Anopheles
				</label>
				<label for="first_toggle" class="btn btn-secondary">
					<input type="radio" class="toggle_option" id="third_toggle" name="toggle_option" autocomplete="off" ng-model="type" value="culex"> Radio
				</label>
			</div>
			-->
		</fieldset>
		<br>

		<!-- Types of sighting Section -->
		<div class="row justify-content-center">
			<div class="container">
				<h2 class="text-center text-uppercase text-secondary mb-0">Types of sighting:</h2>
				<br>
			</div>
			<div class="wrapper">
				<div class="row justify-content-center">
					<div class="col-md-4 box">
						<div class="card align-items-center" style="width: 17rem; height: 17rem;">
							<div class="card-body">
								<h5 class="card-title text-center">Flying mosquitoes</h5>
								<img src="public/img/flying_mosquito.png" class="center-block" alt="Flying mosquito">
							</div>
						</div>
					</div>
					<div class="col-md-4 box">
						<div class="card align-items-center" style="width: 17rem; height: 17rem;">
							<div class="card-body">
								<h5 class="card-title text-center">Mosquitoes in water</h5>
								<img src="public/img/mosquito_water.jpg" class="center-block" alt="Mosquitoes in water">
							</div>
						</div>
					</div>
					<div class="col-md-4 box">
						<div class="card align-items-center" style="width: 17rem; height: 17rem;">
							<div class="card-body">
								<h5 class="card-title text-center">Larvae</h5>
								<img src="public/img/mosquito_larvae.jpg" class="center-block" alt="Larvae">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>

		<fieldset>
			<h3 class="text-center text-secondary mb-0">Select the type of mosquito witnessed:</h3>
			<br>

			<div class="wrapper">
				<div class="toggle_radio">
					<input type="radio" class="toggle_option" id="first_toggle_avistamiento" name="toggle_option" ng-model="avistamiento" value="flying">
					<input type="radio" checked class="toggle_option" id="second_toggle_avistamiento" name="toggle_option" ng-model="avistamiento" value="water">
					<input type="radio" class="toggle_option" id="third_toggle_avistamiento" name="toggle_option" ng-model="avistamiento" value="larvae">
					<label for="first_toggle_avistamiento"><p>Flying mosquitoes</p></label>
					<label for="second_toggle_avistamiento"><p>Mosquitoes in water</p></label>
					<label for="third_toggle_avistamiento"><p>Larvae</p></label>
				<div class="toggle_option_slider"></div>
				</div>
			</div>
		</fieldset>
		<br>

		<fieldset>
			<textarea placeholder="Do you want to add a comment?" tabindex="5" ng-model="comments"></textarea>
		</fieldset>

	    <fieldset>
	      <button class="btn btn-success" id="contact-submit" ng-click="debug()">Submit</button>
		</fieldset>

		<!--
		<button class="btn btn-large btn-primary" data-toggle="confirmation"
				data-btn-ok-label="Continue" data-btn-ok-class="btn-success"
				data-btn-ok-icon-class="material-icons" data-btn-ok-icon-content="check"
				data-btn-cancel-label="Go back!" data-btn-cancel-class="btn-danger"
				data-btn-cancel-icon-class="material-icons" data-btn-cancel-icon-content="close"
				data-title="Is it ok?" data-content="This might be dangerous">
  			Submit button
		</button>
		-->
	</form>
</div>

<script src="public/vendor/select2/select2.min.js"></script>

<script>
	$(".selection-2").select2({
		minimumResultsForSearch: 20,
		dropdownParent: $('#dropDownSelect1')
	});
</script>

<!-- Script for image upload in form-->

<script>
	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();

			reader.onload = function (e) {
				$('#blah')
					.attr('src', e.target.result);
			};

			reader.readAsDataURL(input.files[0]);
		}
	}
</script>

<!-- Script for Google Authentication -->
<script src="https://apis.google.com/js/client:platform.js?onload=renderButton" async defer></script>
<script src="public/js/freelancer.min.js"></script>

<script>
    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      angular.element(document.getElementById('formPage')).scope().getSession(profile);
    }

    function signOut() {
      var auth2 = gapi.auth2.getAuthInstance();
      auth2.signOut().then(function () {
        console.log('User signed out.');
      });
      angular.element(document.getElementById('formPage')).scope().logOut();

    }
</script>
