<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
	<title>Ayudanos</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../public/img/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../public/css/main.css">
	<link rel="stylesheet" type="text/css" href="../public/vendor/bootstrap/css/bootstrap.min.css">

<!--===============================================================================================-->
</head>

<body ng-controller="Form_Controller">
	<div class="container">
	  <form id="contact" action="" method="post">
	    <h3>{{appName}}</h3>
	    <h4>Colabora con la causa</h4>
			<fieldset>
				<input places-auto-complete types="['geocode']" on-place-changed="placeMarker()" type="text" tabindex="1" required autofocus/>
			</fieldset>
			<div class="row justify-content-center">
			<ng-map id="mapa" center="{{center}}" zoom="5" on-click="getpos($event)" style='width: 100%; margin: 15px;'>
					<marker position="{{latlng}}" on-dragend="getpos($event)"
						animation="Animation.BOUNCE" animation="DROP" draggable="true"></marker>
				</ng-map>
				{{latlng}}
			</div>
			<fieldset>
				<label>Tipo de mosquito :</label>
				<div class="row justify-content-center form-group">
					<div class="col-md-3 box"><label class="btn"><img src="../public/img/culex.jpg" alt="..." class="img-thumbnail img-check"><input type="radio" name="chk1" id="item1" ng-model="type" value="culex" class="hidden" autocomplete="off"></label></div>
					<div class="col-md-3 box"><label class="btn"><img src="../public/img/aedes.jpg" alt="..." class="img-thumbnail img-check"><input type="radio" name="chk1" id="item2" ng-model="type" value="aedes" class="hidden" autocomplete="off"></label></div>
					<div class="col-md-3 box"><label class="btn"><img src="../public/img/anopheles.jpg" alt="..." class="img-thumbnail img-check"><input type="radio" name="chk1" id="item3" ng-model="type" value="anopheles" class="hidden" autocomplete="off"></label></div>
				</div>
		</fieldset>
	    <fieldset>
				<label>Tipo de avistamiento: </label>
				<div class="row justify-content-center form-group">
						<div class="col-md-3 box"><label class="btn"><img src="../public/img/flying_mosquito.png" alt="..." class="img-thumbnail img-check"><input type="radio" name="av1" id="item4" ng-model="avistamiento" value="flying" class="hidden" autocomplete="off">Mosquitos volando</label></div>
						<div class="col-md-3 box"><label class="btn"><img src="../public/img/mosquito_water.jpg" alt="..." class="img-thumbnail img-check"><input type="radio" name="av2" id="item5" ng-model="avistamiento"  value="water" class="hidden" autocomplete="off">Mosquitos en agua</label></div>
						<div class="col-md-3 box"><label class="btn"><img src="../public/img/mosquito larvae.jpg" alt="..." class="img-thumbnail img-check"><input type="radio" name="av3" id="item6" ng-model="avistamiento"  value="larvae" class="hidden" autocomplete="off">Larvas de moquito</label></div>
				</div>
			</fieldset>
	    <fieldset>
	      <textarea placeholder="¿Quieres agregar algún comentario?" tabindex="5" required ng-model="comments"></textarea>
	    </fieldset>
	    <fieldset>
	      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
	    </fieldset>
	  </form>
	</div>
<!--=====Angular===================================================================================-->
	<script src="../../node_modules/angular/angular.min.js"></script>

<!--===============================================================================================-->
	<script src="../public/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../public/vendor/bootstrap/js/popper.js"></script>
	<script src="../public/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../public/vendor/select2/select2.min.js"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>

<script src="../../bower_components/ngmap/build/scripts/ng-map.min.js"></script>
<script src="http://maps.google.com/maps/api/js?key=AIzaSyB7OEYVCAHCUAxg2ucI9zIGc4bvomiHuLU&libraries=places"></script>
<!--=====Angular modules============================================================================-->
<script src="../controllers/mosquito_form_controller.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>

<!-- Bootstrap core JavaScript -->
<script src="../public/vendor/jquery/jquery.min.js"></script>
<script src="../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../public/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="../public/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="../public/js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="../public/js/freelancer.min.js"></script>

</body>
</html>
